_ReSharper.*
*.vsix
*.suo
*.cache
*.user
*.bak
*.orig
*.pdb
*~
.vs/
obj/
bin
TestResult.xml
launchSettings.json
contrib/*
packages/*
packages-build/*
TestResults/*
src/Model.Logic.PmParser/Autogen/Parser.cs
src/Model.Logic.PmParser/Autogen/Sym.cs
src/Model.Logic.PmParser/Autogen/Lexer.cs
test/End2EndTestFiles
src/services/Solve.Soap/Contract/SolveService.cs
.nuget/nuget.exe
PrecompiledWeb
!test/Testfiles/**
_site/
Artifacts/
.idea/
node_modules/

# Do not ignore all interop libraries to track them with git lfs
!**/x64/**
!**/x86/**

Core.sdf
tools/*
!tools/packages.config

*.trx
src/lmc-cli/Properties/launchSettings.json